h1 {
    font-size: 24px;
    padding-bottom: 8px;
    border-bottom: 1px solid #007777;
}

h2 {
    font-size: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid #007766;
}

h3 {
    font-size: 16px;
    padding-bottom: 4px;
    border-bottom: 1px solid #007755;
}
